
/.idea/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.elasticbeanstalk/
/build/
/app/frontend/
/app/globalConfig.js
/app/package.json
/client/build/
node_modules/
/app.zip
/Archive.zip
