.home-tile-main-image {
    height: 300px;
    width: 100%;
    background: url('../../../images/human-on-cliff.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}